.select {
    background: #131c21;;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #464849 solid;
    border-radius: 0.5em;
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s;
    height: 40px;
}

.selectClicked {
    border: 2px #26489a solid;
    /* box-shadow: 0 0 0.8em #26489a; */
}

.select hover {
    background: #323741;
}



