.messenger {
    height: calc(100vh - 5px);
    display: flex;
  }

  .userchat {
    background-color: #ffffff;
  }
  
  .chatMenu {
    flex: 1.5;
    background-color: #ffffff;
    overflow: auto;
  }

  .chatMenuBox {
    padding-top: 60px;
  }

  .chatMenuHeader {
    position: fixed;
    height: 50px;
    width: 17%;
    background-color: #d8dbe0;
  }
  
  .chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #d8dbe0;
  }
  
  .chatBox {
    flex: 5.5;
  }
  
  .chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
    padding-top: 50px;
    padding-left: 50px;
  }

  .chatBoxHeader {
    padding: 10px 16px;
    position: fixed;
    background-color: #d8dbe0;
    height: 50px;
    width: 90%;
  }
  
  .chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chatMessageInput {
    width: 90%;
    height: 50px;
    padding: 10px;
  }
  
  .chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
  }
  
  .chatMenuWrapper,
  .chatBoxWrapper {
    /* padding: 10px; */
    height: 100%;
  }
  
  .noConversationText {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
  }
  
  @media screen and (max-width: 768px) {
    .chatMenu {
      flex: 1;
    }
  
    .chatMenuInput {
      display: none;
    }
  
    .chatBox{
      flex: 10;
    }
  
    .chatOnline{
      flex: 1px;
    }
  }