.select {
    /* background: #131c21; */
    background: transparent;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s;
    height: 30px;
}

.selectClicked {
    border: 2px #26489a solid;
    /* box-shadow: 0 0 0.8em #26489a; */
}

.select hover {
    background: #323741;
}



